//
// Driver.rc
//


#include <windows.h>
#include <ntverp.h>
#include "resource.h"

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WUDF: Driver"
#define VER_INTERNALNAME_STR        "Driver"
#define VER_ORIGINALFILENAME_STR    "Driver.dll"

#include "common.ver"
