//
// Leonino.rc
//


#include <windows.h>
#include <ntverp.h>
#include "resource.h"

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WUDF: Leonino"
#define VER_INTERNALNAME_STR        "Leonino"
#define VER_ORIGINALFILENAME_STR    "Leonino.dll"

#include "common.ver"
